@import '../../variables';

.marker {
  background-color: $marker-color;
  border: $marker-border;
  border-radius: 100%; // Circle
  cursor: pointer;
  height: $marker-size;
  width: $marker-size;
}

.mapboxgl-popup {
  max-width: $popup-max-width;
}

.mapboxgl-popup-content {
  background-color: $popup-background-color;
  border: $popup-border;
  border-radius: $popup-border-radius;
  font-family: $popup-font;
  text-align: center;
}
