@import '../../generic';

$csh-booth-background-color: #E11C52;
$hacker-beacon-background-color: #00ff00;
$status-indicator-container-padding: 50px;

#status-indicator-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: $gui-overlay-margin;
  bottom: 0;
  right: 0;
}

.status-indicator {
  width: auto;
  height: auto;
  padding: 10px;
  margin: $gui-overlay-margin;
  background-color: #000;
  color: #fff;
  filter: drop-shadow(0 1px 3px);
  font-size: 1.2rem;
  letter-spacing: 5px;
  
  /* Bright things in dark environments usually cast that light, giving off a glow */
  z-index: 4;
}

// #loading-markers-indicator {}
#loading-markers-indicator.failed {
  background-color: #8b0000;
}

button#legend-indicator-toggler {
  width: 50px;
  height: 50px;
}

#legend-indicator-container {
  width: auto;
  height: auto;
  z-index: 9;
  background-color: black;
  color: white;
}

#legend-indicator-header {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}

#legend-indicator-container hr {
  border-color: white;
}

#legend-indicator-container .swatch-colorbox {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
}

.swatch-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.swatch-container p {
  width: 100%;
  margin: auto 0;
  text-align: left;
}

.swatch-colorbox#csh-booth {
  background-color: $csh-booth-background-color;
}

.swatch-colorbox#hacker-beacon {
  background-color: $hacker-beacon-background-color;
}
