@import '../../variables';
#status-indicator-container {
  bottom: $gui-overlay-margin;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: $gui-overlay-margin;
}

.status-indicator {
  background-color: #000;
  color: #fff;
  filter: drop-shadow(0 1px 3px);
  font-size: 1.2rem;
  height: auto;
  letter-spacing: 5px;
  margin: $gui-overlay-margin;
  padding: 10px;
  width: auto;
  /* Bright things in dark environments usually cast that light, giving off a glow */
  z-index: 4;
}

// #loading-markers-indicator {}

#loading-markers-indicator.failed {
  background-color: #8b0000;
}

// #user-type-indicator {}
