@import '../../generics';
$button-background: #f8e3e3;
$button-text-color-default: $hacker-green;
$button-text-color-hover: darken($hacker-green, 10%);

.no-transition * {
  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

#admin-panel {
  background-color: #000;
  border: 1px solid $hacker-green;
  bottom: 0;
  color: $hacker-green;
  height: 25vh;
  margin: $gui-overlay-margin;
  min-height: 225px;
  min-width: 300px;
  padding: 15px;
  position: absolute;
  right: 0;
  visibility: none;
  width: 40vw;
  z-index: 5;
}

#admin-panel hr {
  border-color: darken($hacker-green, 20%);
  margin-top: 0;

}

#admin-panel button {
  background-color: #000;
  border: 1px solid $hacker-green;
  color: $hacker-green;
  margin: 0 10px 10px 0;
  text-align: center;
}

#admin-panel-toggle {
  background-color: #000;
  border: 1px solid $hacker-green;
  border-radius: inherit;
  color: $hacker-green;
  font-size: 1.1rem;
  height: 35px;
  line-height: 12px;
  width: 180px;
  z-index: 5;
}

#admin-panel button#close-button {
  position: absolute;
  right: 0;
  text-align: center;
  top: 10px;
}

/* Mode Buttons */
#admin-panel button.selected {
  background-color: #000;
}
