@import '../../generic';

.navbar { 
  background-color: $navbar-background-color !important;
  // No choice but to use !important here, as the csh css uses it as well
  padding: $navbar-padding;
  position: relative;
  z-index: 10;
}



.navbar > .container {
  max-width: $navbar-container-max-width;
}

// Classname/ID duplication required for overriding specificity
.navbar-brand#brand {
  background-image: url($navbar-brand-image);
  background-position: center;
  background-size: 100%;
  padding: 14px;
  @include stroke(#000, 2px);
}

.nav-item > a:hover {
  border-bottom: $nav-item-border-bottom-on-hover;
  font-weight: bold;
  
}

.dropdown.nav-item > a:hover{
  border-bottom: 0;
}

@media (max-width: 370px) {
  .navbar-toggler, .navbar-brand#brand {
    margin: auto;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 0;
  }
}
