// Generics
$hacker-green: #20c20e;

@mixin stroke($color: #000, $size: 1px) {
  text-shadow:
  -#{$size} -#{$size} 0 $color,
  0        -#{$size} 0 $color,
  #{$size} -#{$size} 0 $color,
  #{$size}  0        0 $color,
  #{$size}  #{$size} 0 $color,
  0         #{$size} 0 $color,
  -#{$size}  #{$size} 0 $color,
  -#{$size}  0        0 $color;
}

// Navbar
$navbar-background-color: rgb(15, 15, 15);
$navbar-padding: 0 2rem;
$navbar-brand-image: '../../../public/glitch.gif';
$navbar-border-bottom: 3px solid;
$navbar-container-max-width: 90%;
$nav-item-border-bottom-on-hover: 3px solid $hacker-green;

// Markers
$marker-size: 32px;
$marker-color: #fd3939;
$marker-border: 3px #000 solid;

// Popups
$popup-text-color: #fff;
$popup-background-color: #fd3939;
$popup-max-width: 200px;
$popup-font: 'Open Sans', sans-serif;
$popup-border: 3px #000 solid;
$popup-border-radius: 10px;

// GUI Overlay
$gui-overlay-margin: 0 10px 15px 0;
$gui-overlay-custom-control-width: 180px;
$gui-overlay-custom-control-height: 35px;

hr.header-underline {
  color: black;
  margin: 5px 0 15px 0;
}
