@import '../../generics';

.main {
  display: flex;
  flex-direction: column;
}

.map-container, .mapboxgl-canvas-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100vw;
}

.container {
  padding: 0;
}

#content-container {
  height: 100%;
  margin: 0;
  max-width: none !important;
  width: 100vw;
}

.mapboxgl-canvas {
  height: 100%;
  width: 100%;
}

#developer-mode-display {
  background-color: #000;
  border: 1px solid $hacker-green;
  border-radius: inherit;
  color: $hacker-green;
  font-size: 1.1rem;
  height: $gui-custom-control-height;
  line-height: 12px;
  margin: $gui-margin;
  text-align: center;
  width: $gui-custom-control-width;
  z-index: $gui-status-indicator-z-index;
}
